* {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: #343a40;
  color: #FFF;
  overflow-x: inherit;
}

::selection {
  color: #FFF;
  background: #ff8000;
}

img {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

a {
  color: #FFF;
  text-decoration: none;
}