* {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: #343a40;
  color: #FFF;
  transition: all 0.3s ease 0s;
  overflow-x: inherit;
}

a {
  color: #FFF;
  text-decoration: none;
}